*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
}

body{
   width: 100vw;
   min-height: 100vh;
   overflow: hidden;
   overflow-y: auto;
   font-family: sans-serif;
   background: linear-gradient(to bottom right,orange,violet,orange); 
}

.text__muted{
  color: #a6a7a9;
}

.color__primary{
  color: orangered;
}
p{
  font-size: 14px;
}
p.text__muted{
  font-size: 12px;
}

h3{
  font-size: 16px;
  font-weight: 600;
}

img{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.btn{
   background: #363636;
   padding: 15px 20px;
   color: white;
   font-size: 14px;
   font-weight: 500;
   border-radius: 51px;
   cursor: pointer;
}

.btn__primary{
   background: linear-gradient(orange,orangered);
}